#course .colorAnm {
    background-color: #f2f2f2;
    animation: backgroundColor-animation 10s forwards;
}

@keyframes backgroundColor-animation {
    0% {
        background-color: #2c74dd;
    }
    20% {
        background-color: #2c74dd;
    }
    25% {
        background-color: #f2f2f2;
    }
    30% {
        background-color: #81d630;
    }
    50% {
        background-color: #81d630;
    }
    55% {
        background-color: #f2f2f2;
    }
    60% {
        background-color: #e02b2b;
    }
    80% {
        background-color: #e02b2b;
    }
    85% {
        background-color: #f2f2f2;
    }
    90% {
        background-color: #e0d62b;
    }
    100%{
        background-color: #e0d62b;
    }
}

.iphoneText-animation {
    animation: iphoneText-animation 10s forwards;
}

@keyframes iphoneText-animation {
    0%{
        display: none;
        opacity: 0;
    }
    5%{
        display: inline-block;
        opacity: 1;
    }
    10%{
        opacity: 1;
    }
    15%{
        display: none;
        opacity: 0;
    }
}

.iphoneImg-animation {
    animation: iphoneImage-animation 10s forwards;
}

@keyframes iphoneImage-animation {
    0%{
        display: none;
        opacity: 0;
    }
    5%{
        opacity: 0;
    }    
    10%{
        display: inline-block;
        opacity: 1;
    }
    15%{
        opacity: 1;
    }
    20%{
        display: none;
        opacity: 0;
    }
}

.androidText-animation {
    animation: androidText-animation 10s forwards;
}

@keyframes androidText-animation {
    30%{
        display: none;
        opacity: 0;
    }
    35%{
        display: inline-block;
        opacity: 1;
    }
    40%{
        opacity: 1;
    }
    45%{
        display: none;
        opacity: 0;
    }
}

.androidImg-animation {
    animation: androidImage-animation 10s forwards;
}

@keyframes androidImage-animation {
    35%{
        display: none;
        opacity: 0;
    }
    40%{
        display: inline-block;
        opacity: 1;
    }
    45%{
        opacity: 1;
    }
    50%{
        display: none;
        opacity: 0;
    }
}

.gameText-animation {
    animation: gameText-animation 10s forwards;
}

@keyframes gameText-animation {
    60%{
        display: none;
        opacity: 0;
    }
    65%{
        display: inline-block;
        opacity: 1;
    }
    70%{
        display: 1;
    }
    75%{
        display: none;
        opacity: 0;
    }
}

.gameImg-animation {
    animation: gameImage-animation 10s forwards;
}

@keyframes gameImage-animation {
    65%{
        display: none;
        opacity: 0;
    }
    70%{
        display: inline-block;
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    80%{
        display: none;
        opacity: 0;
    }
}

.webText-animation {
    animation: webText-animation 10s forwards;
}

@keyframes webText-animation {
    90%{
        display: none;
        opacity: 0;
    }
    95%{
        display: inline-block;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

.webImg-animation {
    animation: webImage-animation 10s forwards;
}

@keyframes webImage-animation {
    95%{
        display: none;
        opacity: 0;
    }
    100%{
        display: inline-block;
        opacity: 1;
    }
}