/* レスポンシブデザイン専用CSS */

@media screen and (max-width: 1300px) {

    #serious h1 {
        font-size: 250px;
    }

    #message h1 {
        font-size: 250px;
    }

    #message .sentence {
        max-width: 1300px;
        min-width: 1101px;
    }

    #message .sentence h3 {
        font-size: 34px;
    }

    #section .sentence h1 {
        font-size: 60px;
    }

    #section .sentence span {
        font-size: 110px;
    }

    #section img.num {
        width: 300px;
    }

}

@media screen and (max-width: 1100px) {

    #serious h1 {
        font-size: 220px;
    }

    #message h1 {
        font-size: 220px;
    }

    #course img.game-img,
    #course img.web-img {
        width: 400px;
    }

    #section .sentence p {
        font-size: 16px;
    }

}

@media screen and (max-width: 800px) {
    
}