#experience img.exOne {
    top: 0;
}

#experience img.exTwo {
    top: 150px;
}

#experience img.exThree {
    top: 300px;
}

#experience img.exFour {
    top: 450px;
}

#shine img.shOne {
    top: 400px;
    left: 0;
    width: 137.5px;
    height: 150px;
}

#shine img.shTwo {
    top: 100px;
    left: 150px;
    width: 137.5px;
    height: 300px;
}

#shine img.shThree {
    top: -200px;
    left: 300px;
    width: 137.5px;
    height: 450px;
}

#shine img.shFour {
    top: -500px;
    left: 450px;
    width: 137.5px;
    height: 600px;
}

#creative img.crOne {
    top: -200px;
    left: 300px;
    width: 370px;
}

#creative img.crTwo {
    top: -100px;
    left: 100px;
    width: 400px;
}

#creative img.crThree {
    top: -300px;
    width: 430px;
}

#title img.ti0{
    top: -170px;
}

#title img.kiran {
    top: 100px;
    left: 610px;
    width: 100px;
}

@media screen and (max-width: 1300px) {

    #serious h1 {
        font-size: 250px;
    }

    #message h1 {
        font-size: 250px;
    }

    #message .sentence {
        /*        top: ;*/
        max-width: 1300px;
        min-width: 1101px;
    }

    #message h3 {
        font-size: 34px;
    }

    #section .image img {
        width: 500px;
    }

    #section .sentence h1 {
        font-size: 60px;
    }

    #section .sentence span {
        font-size: 100px;
    }

    #section .sentence p {
        font-size: 17px;
    }

    #section .num {
        width: 300px;
    }

    #section .right h1 {
        left: 2vw;
    }

    #section .left h1 {
        right: 2vw;
    }

    #section .right p {
        left: 2vw;
    }

    #section .left p {
        right: 2vw;
    }

    #title h2 {
        font-size: 17px;
    }

}

/* タブレット */

@media screen and (max-width: 1100px) {

    #serious h1 {
        font-size: 200px;
    }

    #serious .h2 {
        left: 0;
        width: 900px;
    }

    #serious .mj {
        top: 0;
        left: 0;
    }

    #serious .mj h2 {
        font-size: 40px;
    }

    #serious .mj h3 {
        font-size: 160px;
    }

    #serious .j {
        left: -10px;
    }

    #serious .s {
        top: -30px;
        left: -40px;
        font-size: 60px;
    }

    #message h1 {
        font-size: 200px;
    }

    #message .sentence {
        top: -120px;
        max-width: 1100px;
        min-width: 701px;
    }

    #message h3 {
        font-size: 31px;
    }

    #section .sentence p {
        font-size: 16px;
    }

    #section .image img {
        width: 400px;
    }

}

@media screen and (max-width: 800px) {

    #serious h1 {
        top: 28vh;
        font-size: 150px;
    }

    #serious .h2 {
        width: 700px;
        top: 70px;
    }

    #serious .mj {
        width: 410px;
    }

    #serious .mj h2 {
        top: -140px;
        left: 90px;
        font-size: 30px;
    }

    #serious .mj h3 {
        font-size: 140px;
    }

    #serious .j {
        left: -40px
    }

    #serious .s {
        font-size: 50px;
    }

    #message h1 {
        font-size: 150px;
    }

    #message h3 {
        top: 5vh;
        font-size: 25px;
        letter-spacing: 4px;
    }

    #message .sentence {
        top: 10vh;
        line-height: 70px;
    }

    #section .sentence h1 {
        font-size: 50px;
        letter-spacing: 4px;
    }

    #section .sentence span {
        font-size: 70px;
    }

    #section .sentence p {
        top: 16vh;
        font-size: 12px;
    }

    #section .num {
        width: 200px;
    }

    #section .image img {
        width: 300px;
    }

    #title h2 {
        bottom: -90vh;
        font-size: 15px;
    }

}


/* スマートフォン */

@media screen and (max-width: 500px) {

    #serious h1 {
        top: 16vh;
        font-size: 90px;
    }

    #serious .h2 {
        width: 390px;
    }

    #serious .mj {
        width: 330px;
    }

    #serious .m,
    .j {
        width: 160px;
    }

    #serious .j {
        left: 0;
    }

    #serious .mj h2 {
        top: 30px;
        left: 0;
    }

    #serious .mj h3 {
        font-size: 130px;
    }

    #serious .s {
        top: 0px;
        left: 20px;
    }

    #message h1 {
        top: 20vh;
        font-size: 90px;
    }

    #message .sentence {
        top: 20vh;
        max-width: 500px;
        min-width: 401px;
        line-height: 60px;
    }

    #message h3 {
        font-size: 20px;
        letter-spacing: 2px;
    }

    #section .sentence h1 {
        font-size: 24px;
    }

    #section .sentence span {
        font-size: 40px;
    }

    #section .sentence p {
        font-size: 10px;
    }

    #section .num {
        width: 50vw;
    }

    #section .image img {
        width: 180px;
    }

    #title h2 {
        bottom: -94vh;
        width: 50vw;
        font-size: 10px;
    }

}

@media screen and (max-width: 400px) {

    #serious .h2 {
        top: 10px;
        width: 350px;
    }

    #serious .mj {
        left: 0px;
        width: 310px;
    }

    #serious .m,
    .j {
        width: 150px;
    }

    #serious .j {
        left: 0;
    }

    #serious .mj h2 {
        top: 30px;
        left: 0;
    }

    #serious .s {
        left: 20px;
    }

    #message .sentence {
        max-width: 400px;
        min-width: 301px;
        line-height: 50px;
    }

    #message h3 {
        font-size: 13px;
        letter-spacing: 1px;
    }

}

@media screen and (max-width: 350px) {

    #serious .h2 {
        top: 30px;
        left: 0;
        width: 300px;
    }

    #serious .mj {
        left: 0px;
        width: 300px;
    }

    #serious .m,
    .j {
        width: 130px;
    }

    #serious .mj h2 {
        top: 20px;
        left: 0;
    }

    #serious .mj h3 {
        font-size: 100px;
    }

    #serious .j {
        left: 0;
    }

    #serious .s {
        left: 20px;
    }

    #message h3 {
        font-size: 12px;
        letter-spacing: inherit;
    }
}