/* 詳細設定専用CSS */

#experience img.exOne {
    top: 450px;
}

#experience img.exTwo {
    top: 300px;
}

#experience img.exThree {
    top: 150px;
}

#experience img.exFour {
    top: 0;
}

#shine img.shOne {
    top: 400px;
    left: 0;
    /*    width: 137.5px;*/
    height: 150px;
}

#shine img.shTwo {
    top: 100px;
    left: 150px;
    /*    width: 137.5px;*/
    height: 300px;
}

#shine img.shThree {
    top: -200px;
    left: 300px;
    /*    width: 137.5px;*/
    height: 450px;
}

#shine img.shFour {
    top: -500px;
    left: 450px;
    /*    width: 137.5px;*/
    height: 600px;
}

#creative img.crOne {
    top: -200px;
    left: 300px;
    width: 370px;
}

#creative img.crTwo {
    top: -100px;
    left: 100px;
    width: 400px;
    transform: translate(20%, 100%) scale(0);
}

#creative img.crThree {
    top: -300px;
    width: 430px;
}

#title img.ti0 {
    top: -170px;
    width: 600px;
    opacity: 0;
}

#title img.kiran {
    top: 100px;
    left: 610px;
    width: 100px;
    transform: scale(0);
}

@media screen and (max-width: 1300px) {

    #experience img.ex {
        left: -20px;
        width: 400px;
    }

    #experience img.exOne {
        top: 380px;
    }

    #experience img.exTwo {
        top: 280px;
    }

    #experience img.exThree {
        top: 180px;
    }

    #experience img.exFour {
        top: 80px;
    }

    #shine img.sh {
        width: 91.667px;
    }

    #shine img.shOne {
        top: 350px;
        left: -30px;
        height: 100px;
    }

    #shine img.shTwo {
        top: 150px;
        left: 70px;
        height: 200px;
    }

    #shine img.shThree {
        top: -50px;
        left: 170px;
        height: 300px;
    }

    #shine img.shFour {
        top: -250px;
        left: 270px;
        height: 400px;
    }

    #creative img.crOne {
        top: -100px;
        left: 150px;
        width: 270px;
    }

    #creative img.crTwo {
        top: 0;
        left: 50px;
        width: 300px;
    }

    #creative img.crThree {
        top: -150px;
        left: -20px;
        width: 320px;
    }

    #title img.ti0 {
        top: 0;
        left: -20px;
        width: 400px;
    }

    #title img.kiran {
        top: 130px;
        left: 370px;
    }

    #title h2 {
        left: 0.5%;
    }

}

@media screen and (max-width: 800px) {

    #experience img.ex {
        width: 300px;
    }

    #experience img.exOne {
        top: 470px;
    }

    #experience img.exTwo {
        top: 390px;
    }

    #experience img.exThree {
        top: 310px;
    }

    #experience img.exFour {
        top: 230px;
    }

    #shine img.sh {
        width: 68.75px;
    }

    #shine img.shOne {
        top: 400px;
        left: -20px;
        height: 75px;
    }

    #shine img.shTwo {
        top: 250px;
        left: 60px;
        height: 150px;
    }

    #shine img.shThree {
        top: 100px;
        left: 140px;
        height: 225px;
    }

    #shine img.shFour {
        top: -50px;
        left: 220px;
        height: 300px;
    }

    #creative img.crOne {
        top: 180px;
        left: 150px;
        width: 170px;
    }

    #creative img.crTwo {
        top: 200px;
        left: 50px;
        width: 200px;
    }

    #creative img.crThree {
        top: 100px;
        left: -10px;
        width: 220px;
    }

    #title img.ti0 {
        top: 100px;
        width: 300px;
    }

    #title img.kiran {
        top: 160px;
        left: 250px;
    }

    #title h2 {
        left: 1.5%;
    }

}

@media screen and (max-width: 500px) {
    
    #experience img.ex {
        left: -10px;
        width: 160px;
    }

    #experience img.ex {
        width: 160px;
    }

    #experience img.exOne {
        top: 330px;
    }

    #experience img.exTwo {
        top: 290px;
    }

    #experience img.exThree {
        top: 250px;
    }

    #experience img.exFour {
        top: 210px;
    }
    
    #shine img.sh {
        width: 45.833px;
    }
    
    #shine img.shOne {
        top: 300px;
        left: -40px;
        height: 50px;
    }

    #shine img.shTwo {
        top: 200px;
        left: 10px;
        height: 100px;
    }

    #shine img.shThree {
        top: 100px;
        left: 60px;
        height: 150px;
    }

    #shine img.shFour {
        top: 0px;
        left: 110px;
        height: 200px;
    }
    
    #creative img.crOne {
        top: 160px;
        left: 80px;
        width: 100px;
    }

    #creative img.crTwo {
        top: 200px;
        left: 30px;
        width: 100px;
    }

    #creative img.crThree {
        top: 130px;
        left: 0px;
        width: 120px;
    }
    
    #title h2{
        width: ;
    }
    
}