* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Din-Font";
    src: local("Din-Font") url('DIN-Condensed-Bold');
}

html,
body {
    width: 100%;
    font-family: "Din-Font", "Noto Sans Japanese";
}

#serious {
    height: 100vh;
    background-color: #f2f2f2;
}

#message {
    height: 100vh;
    background-color: #0062ff;
}

#course {
    height: 100vh;
}

.name {
    float: left;
    margin: 0;
    width: 50vw;
    height: 100vh;
    background-color: #2c74dd;
}

.c_image {
    float: right;
    width: 50vw;
    height: 100vh;
    background-color: #f2f2f2;
}

#section {
    width: 100vh;
}

.sentence {
    width: 50vw;
    height: 100vh;
    background-color: #f2f2f2;
}

.image {
    width: 50vw;
    height: 100vh;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

#experience {
    width: 100vw;
}

#shine {
    width: 100vw;
}

#creative {
    width: 100vw;
}

#title {
    width: 100vw;
}

#experience .image {
    background-color: #dd2cd1;
}

#shine .image {
    background-color: #2cdd3d;
}

#creative .image {
    background-color: #8e2cdb;
}

#title .image {
    background-color: #f15a24;
}